<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WeldingDBConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\WeldingDB.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DriverName" value="Driver1"></add>
    <add key="DeviceName" value="Welding"></add>
    <add key="URL" value="opcda://localhost/ZPMC.OPCServer.2"></add>
  </appSettings>
</configuration>